.itemWrapper {
  display: flex;
}
.itemImageBox {
  width: 300px;
  position: relative;
  cursor: pointer;
}
.itemImageCheckbox {
  position: absolute;
  top: 10px;
  left: 10px;
}
.itemImage {
  margin-top: 20px;
  margin-right: 20px;
  width: 100%;
}
