.wrapper {
  width: 300px;
}
.itemBox {
  width: 300px;
  height: 450px;
  text-overflow: ellipsis;
}
.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.img{
  width: 270px;
  height:400px;
}
